module.exports = {
	facebookAuth: {
		clientID 		    : 'fill-this-out', // App ID
		clientSecret 	  : 'fill-this-out', // App Secret
		callbackURL 	  : 'http://127.0.0.1:8080/auth/facebook/callback'
	},
	twitterAuth: {
		consumerKey 		: 'fill-this-out',
		consumerSecret 	: 'fill-this-out',
		callbackURL 		: 'http://127.0.0.1:8080/auth/twitter/callback'
	},
	googleAuth: {
		clientID 		    : 'fill-this-out',
		clientSecret 	  : 'fill-this-out',
		callbackURL 	  : 'http://127.0.0.1:8080/auth/google/callback'
	},
	stravaAuth: {
		clientID 		    : 'fill-this-out',
		clientSecret 	  : 'fill-this-out',
		callbackURL 	  : 'http://127.0.0.1:8080/auth/strava/callback'
	}
};