module.exports = {
  facebookAuth: {
    appID: 'fill-this-out',
    appSecret: 'fill-this-out'
  },
  twitterAuth: {
    consumerKey: 'fill-this-out',
    consumerSecret: 'fill-this-out'
  },
  googleAuth: {
    clientID: 'fill-this-out',
    clientSecret: 'fill-this-out'
  },
  stravaAuth: {
    clientID: 'fill-this-out',
    clientSecret: 'fill-this-out'
  }
};